/*grid display for menu sections (i.e. starters, mains, desserts, drinks) default set to 1fr for mobile screens
  boarder at the bottom to separate each section of the menu*/
.group{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
  margin: 1em;
}

/*headings for each section of the menu margin to separate heading from the previous section but not the related one below*/
.row-heading {
  margin: 1.5em;
  margin-bottom: 0;
  font-size: calc(16px + 0.25vw);
}

/*boarder and shading around each menu item and flex so that each part of the item (image and text) are next to each other and not under*/
.menu-item {
  display: flex;
  padding: 10px;
  border: 1px solid lightgray;
  margin: 0 10px;
  box-shadow: 1px 1px 3px lightgray;
}

figure {
  margin: 0;
}

figcaption {
  padding: 0;
  font-size: x-small;
}

/*flex and justify-content so that items in the headings (name and price are on the left and right.*/
.menu-item-heading {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: calc(16px + 0.25vw);
}

.menu-item-text {
  padding: 0 1em;
  flex-grow: 1;
}

.menu-item-text p {
  margin: 0.5em 0 0 0;
  line-height: 1.4;
  font-size: calc(14px + 0.25vw);
}

/* Responsive layout for screens <600px */
@media only screen and (min-width: 600px) {
  /*change menu to 2 column grid*/
  .group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  /*Note: images change for large (125px as this screen size) */
}

/* Responsive layout for screens <1080px */
@media only screen and (min-width: 1080px) {
  /*change menu to 3 column grid*/
  .group {
    grid-template-columns: repeat(3, 1fr);
  }
}
