/* background image for main content (mobile display) image is changed for larger screens below*/
main {
  background-image: url("../images/mobile/table-mobile.jpg");
  background-position: center center;
  background-size: cover;
}

/*main heading style*/
h1 {
  margin-top: 2vw;
  font-size: calc(40px + 1vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 5px 0px gray;
  text-shadow: 1px 1px 2px rgba(104, 165, 107, 1);
  border-radius: 4px;
}

/*grid display for quick link boxes
- set to one column for mobile with change to 3 columns for larger screens below*/
.row {
  display: grid;
  min-height: 400px;
  height: auto;
  align-content: end;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 30px calc(30px + 10vw);
  justify-items: stretch;
}

/*quick link boxes*/
.box {
  background-color: rgba(104, 165, 107, 0.8);
  text-align: center;
  min-height: 0;
  padding: 20px 0;
  border-radius: 10px;
}

/*boxes enlarge and become solid on hover*/
.box:hover {
  background-color: rgba(104, 165, 107, 1);
  transform: scale(1.05);
}

/*headings in quick link boxes*/
.box h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(40px + 0.2vw);
  margin: 0;
}

/*text in quick link boxes*/
.box p {
  font-size: calc(16px + 0.5vw);
  margin: 0;
}

/*remove default styling of links for quick link boxes*/
.row a {
  text-decoration: none;
  color: black;
}

/*formating for screens larger than 600px 
- quick link boxes display horizontaly
- background image changes to larger version
*/
@media (min-width: 600px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px;
  }

  main {
    background-image: url("../images/table.jpg");
  }
}

/*formating for screens larger than 600px 
- heading changes to larger font size
*/
@media (min-width: 1024px) {
  h1 {
    font-size: calc(55px + 1vw);
  }
}
