/* Haukai Restuarant privacy page styles*/
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  margin: 2vw 5vw;
  line-height: 1.6;
}

h1 {
  font-size: x-large;
}

h2 {
  margin: 1vw 0 0.5vw 0;
  font-size: medium;
}

p,
.privacy-list {
  font-size: small;
}

.privacy-list {
  list-style: square;
}

.privacy-list li {
  margin: 0 14px;
}

p {
  margin: 0.75vw 0 0.25vw 0;
}
